﻿@using MoneyTransfer.Models
@model MoneyTransfer.Models.User
@{
    ViewData["Title"] = "Транзакция";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Transfer</h2>
<form method="post" asp-controller="Home" asp-action="index"
      asp-route-returnUrl="@Model">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UniqueNumber">Личный Счёт</label><br />
        <input asp-for="UniqueNumber" />
        <span asp-validation-for="UniqueNumber"></span>
    </div>
    <div>
        <label asp-for="Balance">Сумма</label><br />
        <input asp-for="Balance" />
        <span asp-validation-for="Balance"></span>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>
