﻿@model IEnumerable<MoneyTransfer.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>От Пользователя</h3>
            </th>
            <th>
               <h3>Для Пользователя</h3>
            </th>
            <th>
                <h3>Сумма</h3>
            </th>
            <th>
                <h3>Дата</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromUserId)
                </td>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.ToUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDate)
                    
                </td>
            </tr>
        }
    </tbody>
</table>
