﻿@using Microsoft.AspNetCore.Identity
@using MoneyTransfer.Migrations
@inject UserManager<User> userManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Электронный Кошелёк</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Электронный Кошелёк</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
    {


                      <li><a asp-area="" asp-controller="Transaction" asp-action="Transfer">Транзакция</a></li>
                     <li><a asp-area="" asp-controller="Transaction" asp-action="Transaction">История</a></li>
                       <li style="color: white; margin-left:400px ; margin-top: 15px">
                      Личный Счёт:
                    @userManager.GetUserAsync(User).Result.UniqueNumber
                       </li>
                     <li style="color: white; margin: 15px">
                     Баланс:
                    @userManager.GetUserAsync(User).Result.Balance
                </li>

                <li style="margin:15px">
                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <input type="submit" value="Выход" />
                    </form>
                </li>
}
else
{
                <li>
                    <a asp-controller="Account" asp-action="Login">Вход</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Register">Регистрация</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Add">Пополнить</a>
                </li>
               
}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - MyForum</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
